<!DOCTYPE html>
<!--Code by Divinector (www.divinectorweb.com)-->
<html lang="en">
<head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/home.png') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles/home.css') }}">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <div>
              <div class="alert">
                <span class="fas fa-exclamation-circle"></span>
                <span class="msg">{{ message }}</span>
                <span class="close" data-dismiss="alert" aria-label="Close">
                  <span class="fas fa-times">

                  </span>
                </span>
              </div>
            </div>
      </div>
        {% endfor %}
    {% endif %}
{% endwith %}
    {% if error %}
        <p><strong>Error</strong>: {{error}}</p>
    {% endif %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>

    <title>Sign in & Sign up Form</title>

    <meta charset="UTF-8">
    <title>How to Create responsive Homepage</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
    <div class="wrapper">
        </div>


<div class="nav-area">
    <ul>
<li><a></a></li>

    <li><a></a></li>
        <a href="#"><i class="fas fa-cog"></i></a>
    <li><a></a></li>
    <li><a></a></li>
    <li><a></a></li>
    <li><a></a></li>
    <li><a></a></li>
    <li><a></a></li>

<i class="fas fa-home"></i>
<li><a href="#">Home</a></li>
        <i class="fas fa-address-card"></i>
<li><a href="#">About</a></li>
        <i class="fas fa-code"></i>
<li><a href="#">Algorithms</a></li>




    <li><a></a></li>
    <li><a></a></li>
    <li><a></a></li>
    <li><a></a></li>
    <li><a></a></li>


    <i class="fas fa-user-lock"></i>
    <div class="dropdown">
        <li><a>{{ name }}</a></li>
        <div class="dropdown-content">
        <ul>
            <li ><a href="/details">Account details</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
        </div>
      </div>
    </ul>
    <div class="welcome-text">
        <h2>Welcome back </h2><h1>{{ name }}!!</h1>

    </div>
</div>

</header>

</body>
</html>