<!DOCTYPE html>
<html lang="en">
  <head>
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/download.png') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <meta charset="UTF-8">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <div>
              <div class="alert">
                <span class="fas fa-exclamation-circle"></span>
                <span class="msg">{{ message }}</span>
                <span class="close" data-dismiss="alert" aria-label="Close">
                  <span class="fas fa-times">

                  </span>
                </span>
              </div>
            </div>
      </div>
        {% endfor %}
    {% endif %}
{% endwith %}
    {% if error %}
        <p><strong>Error</strong>: {{error}}</p>
    {% endif %}
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="style.css" />
    <title>Sign in & Sign up Form</title>
  </head>
  <body>
    <div class="container">
      <div class="forms-container">
        <div class="signin-signup">
          <form action="/login" class="sign-in-form" method="POST">
            <h2 class="title">Sign in</h2>
            <div class="input-field">
              <i class="fas fa-user"></i>
              <input type="text" placeholder="Username" name="username"/>
            </div>
            <div class="input-field">
              <i class="fas fa-lock"></i>
              <input type="password" placeholder="Password" name="passwd"/>
            </div>
            <input type="submit" value="Login" class="btn solid"/>
            <a href="#">Forgot Password?</a>



          </form>

          <form action="#" class="sign-up-form" method="POST">
            <h2 class="title">Sign up</h2>
            <div class="input-field">
              <i class="fas fa-user"></i>
              <input type="text" placeholder="Username" name="u"/>
            </div>
            <div class="input-field">
              <i class="fas fa-envelope"></i>
              <input type="email" placeholder="Email" name="em"/>
            </div>
            <div class="input-field">
              <i class="fas fa-lock"></i>
              <input type="password" placeholder="Password" name="pa"/>
            </div>
            <input type="submit" class="btn" value="Sign up" />

          </form>
        </div>
      </div>

      <div class="panels-container">
        <div class="panel left-panel">
          <div class="content">
            <h3>New here ?</h3>
            <p>
              Sign Up, it is for special users like you!
            </p>
            <button class="btn transparent" id="sign-up-btn">
              Sign up
            </button>
          </div>
          <img src="log.svg" class="image" alt="" />
        </div>
        <div class="panel right-panel">
          <div class="content">
            <h3>One of us ?</h3>
            <p>
              Already one of us? we would love to see you back online!
            </p>
            <button class="btn transparent" id="sign-in-btn">
              Sign in
            </button>
          </div>

        </div>
      </div>
    </div>

    <script src="app.js"></script>
  </body>
</html>
<script>
const sign_in_btn = document.querySelector("#sign-in-btn");
const sign_up_btn = document.querySelector("#sign-up-btn");
const container = document.querySelector(".container");

sign_up_btn.addEventListener("click", () => {
  container.classList.add("sign-up-mode");
});

sign_in_btn.addEventListener("click", () => {
  container.classList.remove("sign-up-mode");
});
// const wrapper = document.querySelector(".wrapper"),
// toast = wrapper.querySelector(".toast"),
// title = toast.querySelector("span"),
// subTitle = toast.querySelector("p"),
// wifiIcon = toast.querySelector(".icon"),
// closeIcon = toast.querySelector(".close-icon");
 
// window.onload = ()=>{
//     function ajax(){
//         let xhr = new XMLHttpRequest(); //creating new XML object
//         xhr.open("GET", "https://jsonplaceholder.typicode.com/posts", true); //sending get request on this URL
//         xhr.onload = ()=>{ //once ajax loaded
//             //if ajax status is equal to 200 or less than 300 that mean user is getting data from that provided url
//             //or his/her response status is 200 that means he/she is online
//             if(xhr.status == 200 && xhr.status < 300){
//                 toast.classList.remove("offline");
//                 title.innerText = "You're online now";
//                 subTitle.innerText = "Hurray! Internet is connected.";
//                 wifiIcon.innerHTML = '<i class="uil uil-wifi"></i>';
//                 closeIcon.onclick = ()=>{ //hide toast notification on close icon click
//                     wrapper.classList.add("hide");
//                 }
//                 setTimeout(()=>{ //hide the toast notification automatically after 5 seconds
//                     wrapper.classList.add("hide");
//                 }, 5000);
//             }else{
//                 offline(); //calling offline function if ajax status is not equal to 200 or not less that 300
//             }
//         }
//         xhr.onerror = ()=>{
//             offline(); ////calling offline function if the passed url is not correct or returning 404 or other error
//         }
//         xhr.send(); //sending get request to the passed url
//     }
 
//     function offline(){ //function for offline
//         wrapper.classList.remove("hide");
//         toast.classList.add("offline");
//         title.innerText = "You're offline now";
//         subTitle.innerText = "Opps! Internet is disconnected.";
//         wifiIcon.innerHTML = '<i class="uil uil-wifi-slash"></i>';
//     }
 
//     setInterval(()=>{ //this setInterval function call ajax frequently after 100ms
//         ajax();
//     }, 100);
// }


</script>