<!DOCTYPE html>
<!--Code by Divinector (www.divinectorweb.com)-->
<html lang="en">
<head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='home.png') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/my_home.css') }}">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>

    <title>Sign in & Sign up Form</title>

    <meta charset="UTF-8">
    <title>How to Create responsive Homepage</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
    <div class="wrapper">
        </div>


<div class="nav-area">
    <ul>
<li><a></a></li>

    <li><a></a></li>
        <a href="#"><i class="fas fa-cog"></i></a>
    <li><a></a></li>
    <li><a></a></li>
    <li><a></a></li>
    <li><a></a></li>
    <li><a></a></li>
    <li><a></a></li>

<i class="fas fa-home"></i>
<li><a href="#">Home</a></li>
        <i class="fas fa-address-card"></i>
<li><a href="#">About</a></li>
        <i class="fas fa-code"></i>
<li><a href="#">Algorithms</a></li>
        <i class="fas fa-newspaper"></i>
<li><a href="#">News</a></li>



    <li><a></a></li>
    <li><a></a></li>
    <li><a></a></li>
    <li><a></a></li>
    <li><a></a></li>


    <i class="fas fa-user-lock"></i>
        <li><a href="/login-register">Login or Register</a></li>
    </ul>
</div>


</header>

</body>
</html>
