<!DOCTYPE html>
<script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<html>
<style>
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
</style>
<body>
<h1>Please enter your answers so you can complete your setup.</h1>
<div>
    <form method="POST">
    <input type="text" id="fname" name="q_1" placeholder="{{q_1}}" readonly>

    <i class="fas fa-poll-h"></i>
    <label for="lname">Answer 1</label>
    <input type="text" id="lname" name="a_1" placeholder="Answer 1">


    <input type="text" id="fname" name="q_1" placeholder="{{q_2}}" readonly>

    <i class="fas fa-poll-h"></i>
    <label for="fname">Answer 2</label>
    <input type="text" id="fname" name="a_2" placeholder="Answer 2">


    <input type="text" id="fname" name="q_1" placeholder="{{q_3}}" readonly>


    <i class="fas fa-poll-h"></i>
    <label for="fname">Answer 3</label>
    <input type="text" id="fname" name="a_3" placeholder="Answer 3">
  
    <input type="submit" value="Submit">
    </form>
</div>

